[Unit]
Description=First boot self-host platform ttyd
After=network-online.target
Wants=network-online.target
ConditionPathExists=!/var/lib/firstboot-selfhost-platform.done

[Service]
Type=simple
ExecStart=/usr/local/bin/ttyd -p 7681 -W /usr/local/sbin/firstboot-selfhost-platform --writable
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
